.charts {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 20px;
}

.station-name-a:hover {
    cursor: pointer;
    color: #DF0C36;
}

.station-name-a {
    padding: 10px;
}

.station-main-content {
    display: grid;
    grid-template-columns: 20vw 75vw;
    column-gap: 4vw;
}

.station-details-content {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 40px;
}

.station-details input {
    border: 1px solid #cccccc;
    border-radius: 10px;
}

.station-details .form-group {
    padding: 10px;
}

#update-station {
    margin-top: 20px;
    margin-bottom: 20px;
}

.station-details-element {
    box-shadow: -1px 2px 10px #cccccc;
    padding: 20px;
    border-radius: 5px;
}

.station-details h2 {
    font-size: 14px;
    margin-top: 20px;
    /*color: #004196;*/
    border-bottom: 1px solid #cccccc;
}

.station-details h1 {
    font-size: 18px;
    margin-bottom: 20px;
}

.objectifs-container,
.current-objectif {
    display: grid;
    grid-template-columns: auto auto;
}

.form-container {
    display: grid;
    grid-template-columns: auto auto;
}

@media screen and (max-width: 800px) {
    .station-details-content {
        grid-template-columns: 100%;
    }
    .station-details {
        grid-template-columns: auto;
    }
    .station-main-content {
        grid-template-columns: auto;
    }
    .objectifs-container,
    .current-objectif {
        display: grid;
        grid-template-columns: auto;
    }
    .form-container {
        display: grid;
        grid-template-columns: auto;
    }
}