.form-group {
    display: grid;
    grid-template-columns: auto;
}

.form-group label {
    color: #004196;
    font-size: 14px;
}

.form-group textarea,
input {
    padding: 10px;
}

.grey-button {
    background-color: #7D7064;
    ;
}

.simple-button {
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
    background-color: #eeeeee;
    color: #7D7064;
    margin: 10px;
}

.simple-button:hover {
    cursor: pointer;
}

.file-form-group input {
    display: none;
}

.file-form-group label {
    color: #DF0C36;
}

.file-container {
    padding: 10px;
}

.file-container h3 {
    font-size: 12px;
    font-weight: 700;
    color: #DF0C36;
    padding-bottom: 10px;
}

.content {
    display: none;
}

.selected-item {
    display: block;
}

.wiki-content.selected-item {
    display: grid;
}

.nav-bar {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 50%;
    justify-content: start;
    column-gap: 40px;
    padding: 20px;
}

.nav-bar-item {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #777777;
    text-align: center;
    padding-bottom: 10px;
}

.nav-bar-item.selected-item {
    border-bottom: 4px solid #DF0C36;
}

@media screen and (max-width: 800px) {
    .nav-bar {
        grid-template-columns: 100%;
    }
    .nav-bar {
        width: 100%;
    }
    .nav-bar-item {
        background-color: #eeeeee;
    }
}