.station-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
    overflow-y: scroll;
}

#add-station-button {
    text-decoration: none;
    background-color: #ffffff;
    color: #777777;
    display: grid;
    height: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 20px #cccccc;
    transition: 0.4s;
}

#add-station-button:hover {
    transform: scale(1.05);
}

.station {
    padding: 10px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    box-shadow: -1px 2px 10px #cccccc;
}

.station button {
    color: #004196;
    background-color: transparent;
    font-size: 10px;
    transition: 0.4s;
}

.station button i {
    font-size: 16px;
}

.station button:hover {
    transform: scale(1.5);
}

.form-group .station-name,
.station-tmg {
    font-weight: 500;
    border: 1px solid #cccccc;
    width: 100%;
    border-radius: 5px;
    padding: 4px;
}

.station .station-gerant {
    font-size: 11px;
    color: #777777;
    border: none;
}