.station-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
    padding: 20px;
    overflow-y: scroll;
    height: 70vh;
}

.button-options {
    position: sticky;
    top: 0px;
    left: 0px;
    padding: 20px;
    border-bottom: 2px solid #cccccc;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;
    column-gap: 20px;
}

.station {
    padding: 10px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: auto;
    box-shadow: -1px 2px 10px #cccccc;
    margin-bottom: 20px;
}

.station button {
    color: #004196;
    background-color: transparent;
    font-size: 10px;
    transition: 0.4s;
}

.station button i {
    font-size: 16px;
}

.station button:hover {
    transform: scale(1.5);
}

.file-form-group input {
    display: none;
}

.file-form-file label {
    background-color: #004196;
    color: white;
    font-size: 14px;
}

.form-group .station-name,
.station-tmg {
    font-weight: 500;
    border: 1px solid #cccccc;
    width: 100%;
    border-radius: 5px;
    padding: 4px;
}

.station .station-gerant {
    font-size: 11px;
    color: #777777;
    border: none;
}

@media screen and (max-width: 800px) {
    .station-list {
        grid-template-columns: auto;
        width: 100vw;
    }
}