* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

header {
    padding: 20px;
    border-bottom: 1px solid #cccccc;
    display: grid;
    grid-template-columns: auto auto;
}

.logo-total {
    width: 100;
    height: 40px;
}

#display-fn {
    font-weight: 500;
    font-size: 16px;
    color: #DF0C36;
}

.dropdown-menu {
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    top: 100px;
    right: 10px;
    box-shadow: 2px 4px 10px #cccccc;
    border-radius: 4px;
    display: none;
}

.show-dropdown-menu {
    display: grid;
}

.dropdown-menu button {
    padding: 0px;
    margin: 0px;
    padding: 20px;
    background-color: white;
    color: #777777;
}

.dropdown-menu button:hover {
    background-color: #eeeeee;
}

body {
    height: 100vh;
    overflow: hidden;
}

.small-button {
    padding: 4px;
    color: #7D7064;
    font-size: 10px;
    text-align: center;
    border-radius: 2px;
    background-color: #eeeeee;
}

.main-container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.nav-bar {
    height: 100vh;
    background-color: #7D7064;
}

.nav-bar-item {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 20px;
}

.main-content-item {
    display: none;
}

.selected-item {
    display: block;
}

a.selected-item {
    font-weight: 500;
    background-color: #DF0C36;
    font-size: 20px;
}