@media screen and (max-width: 800px) {
    .msg-nav-item span {
        display: none;
    }
    .w-msg-h {
        grid-template-columns: auto auto;
    }
    #new-message-button span {
        display: none;
    }
    #new-message-button {
        width: 40px;
        height: 40px;
        border-radius: 100px;
        padding: 0px;
        display: grid;
        justify-items: center;
        align-items: center;
        margin-left: 4px;
    }
    .cols {
        grid-template-columns: 10% 80%;
    }
    .create-message-modal .modal-content {
        width: 100%;
    }
    .create-message-modal .modal-main-content {
        width: 100%;
    }
    .white-space {
        display: none;
    }
    .col-3 {
        display: none;
        width: 100vw;
        height: 100vh;
        padding-top: 120px;
        position: absolute;
        left: 0px;
        background-color: white;
        top: 0px;
    }
    .col-3-show {
        display: grid;
    }
    .col-2 {
        background-color: #ffffff;
        border-left: 1px solid #cccccc;
    }
}