.sd-name {
    padding-left: 40px;
    color: #DF0C36;
}

.objectifs-station h3 {
    font-size: 12px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-service {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;
    gap: 40px;
    background-color: #eeeeee;
    padding: 10px;
}

.top-service h2 {
    font-size: 16px;
    color: #777777;
    font-weight: 100;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
}

.top-service h2 span {
    font-weight: bold;
    color: #444444;
}