h1,
h2 {
    padding: 20px;
    text-align: center;
}

.form-group {
    padding: 20px;
    display: grid;
}

.form-group label {
    font-size: 14px;
    color: #004196;
}

.form-group input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #cccccc;
}

button {
    margin: 20px;
    background: #DF0C36;
}

.main-content {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-content: center;
}

.form {
    display: grid;
    grid-template-columns: 30vw;
    width: 100%;
    justify-content: center;
}

p {
    padding-bottom: 20px;
}